$black: #222222;
$white: #ffffff;
$red: #d04e5e;
$dark-red: #e31e24;
$gray: #eaeaea;
$light-gray: #f5f5f5;
$brown: #5c4d4d;
$light-red: #fff7f7;
$green: #3da85b;

$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$instagram_bg: rgba(108, 39, 179, 1);
$youtube_bg: rgba(212, 36, 40, 1);
$facebook_bg: rgba(59, 89, 152, 1);

$primary-text: $black;
$primary-bg: $brown;
$primary-active-elements: $red;
$primary-alert: $red;
$primary-success: $green;
$primary-accent-1: $gray;
$primary-accent-2: $brown;
$secondary-bg: $white;
$secondary-black: $black;
$secondary-text: $white;
$secondary-accent-1: $light-gray;
$secondary-accent-2: $light-red;
$secondary-accent-3: $dark-red;
