.Advantages {
  justify-content: space-around;

  &-Item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    max-width: 500px;
  }

  &-Icon {
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  &-Text {
    font-size: 1.3rem;
  }
}

@include mq-max(767px) {
  .Advantages {
    justify-content: center;
    &-Item {
      flex-flow: column nowrap;
      justify-content: center;
    }

    &-Icon {
      margin-right: 0;
      margin-bottom: 12px;
    }

    &-Text {
      text-align: center;
    }
  }
}

@include mq-max(400px) {
  .Advantages {
    &-Text {
      font-size: 1rem;
    }
  }
}
