.Button {
  position: relative;
  max-width: 280px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  color: $secondary-text;
  transition: all 0.2s ease;
  cursor: pointer;

  &_Send {
    background-color: $primary-bg;
  }

  &_Success {
    background-color: $accent-5;
  }

  &:disabled {
    background-color: $secondary-accent-4;
    color: $secondary-accent-3;
  }

  &_Center {
    left: 50%;
    transform: translateX(-50%);
  }

  &_ModalClose {
    position: fixed;
    position: sticky;
    width: 35px;
    height: 35px;
    padding: 0;
    left: 100%;
    top: 0;
    font-size: 1.2rem;
    background-color: $accent-3;

    & > svg {
      width: 20px;
      height: 20px;
      fill: $secondary-text;
      pointer-events: none;
    }
  }
}
