.Callback {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: rgba(#fff, 0.8);

  &-Outer {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }

  &-Form {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}

@include mq-max(850px) {
  .Callback {
    margin-right: auto;
    margin-left: auto;
  }
}

@include mq-max(550px) {
  .Callback {
    &-Form {
      width: 80%;
    }
  }
}

@include mq-max(360px) {
  .Callback {
    &-Form {
      width: 92%;
    }
  }
}
