.Contacts {
  position: relative;
  text-align: center;

  &-Phone {
    font-size: 1.4rem;
    margin-bottom: 7px;
  }

  &-Email {
    font-size: 1.2rem;
  }

  &-Link {
    color: $primary-text;
    transition: color 0.2s ease-out;

    &:hover {
      color: $accent-2;
    }
  }

  &-Socials {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 5px;
    max-width: 240px;
    padding: 7px 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_Viber,
    &_WhatsApp {
      color: $secondary-text;
      fill: $secondary-text;
    }

    &_Viber {
      background-color: $viber_bg;
    }

    &_WhatsApp {
      background-color: $whatsapp_bg;
    }
  }

  &-Icon {
    pointer-events: none;
    margin-right: 10px;
    & > svg {
      width: 26px;
    }
  }
}

@include mq-max(992px) {
  .Contacts {
    &-Phone {
      font-size: 1.2rem;
    }

    &-Email {
      font-size: 1.1rem;
    }
  }
}

@include mq-max(767px) {
  .Contacts {
    margin-bottom: 20px;
  }
}
