.FooterSection {
  &-Title {
    margin-bottom: 12px;
    font-size: 1.3rem;
  }

  &-Item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Link {
    color: $secondary-text;
    font-size: 1.1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $accent-2;
    }
  }
}

@include mq-max(575px) {
  .FooterSection {
    margin-bottom: 25px;
  }
}

@include mq-max(400px) {
  .FooterSection {
    &-Title {
      font-size: 1.2rem;
    }

    &-Link {
      color: $secondary-text;
      font-size: 1rem;
    }
  }
}
