.FooterSection {
  &-Title {
    margin-bottom: 12px;
  }

  &-Item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Link {
    color: $secondary-text;
    transition: color 0.3s ease;

    &:hover {
      color: $accent-2;
    }
  }
}

@include mq-max(575px) {
  .FooterSection {
    margin-bottom: 25px;
  }
}
