.Input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  outline-color: #035aa6;
  font-size: 1rem;

  &-Outer {
    margin-bottom: 20px;
  }

  &-Label {
    display: block;
    font-size: 1.1rem;
  }

  &-Required {
    color: #d04e5e;
    margin-left: 7px;
  }

  &-Error {
    color: $red;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
  }
}

@include mq-max(500px) {
  .Input {
    &-Label {
      font-size: 1rem;
    }
  }
}
