.InputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + &-Label {
    font-size: 1rem;
    padding: 10px 20px;
    color: $secondary-text;
    background-color: $primary-bg;
    border-radius: 5px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }

  & + &-Label * {
    pointer-events: none;
  }

  &:focus + &-Label,
  & + &-Label:hover {
    background-color: $accent-3;
  }

  &:focus + &-Label {
    outline: 1px dotted $primary-bg;
    outline: -webkit-focus-ring-color auto 5px;
  }
}
