.Logo {
  &-Img {
    max-width: 300px;
  }
}

@include mq-max(767px) {
  .Logo {
    margin-bottom: 20px;
    text-align: center;
  }
}

/*
@include mq-max(575px) {
  .Logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
} */
