.Menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &-Item {
    margin-right: 30px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 1px;
      background-color: rgba($accent-1, 0.5);
    }

    &:last-child::after {
      display: none;
    }
  }

  &-Link {
    display: inline-block;
    padding: 20px 15px;
    font-size: 1.2rem;
    color: $primary-text;
    transition: color 0.2s ease-out;

    &:hover {
      color: $accent-2;
    }
  }
}

@include mq-max(767px) {
  .Menu {
    &-Link {
      font-size: 1rem;
    }
  }
}

@include mq-max(633px) {
  .Menu {
    &-Link {
      padding: 20px 10px;
    }
  }
}

@include mq-max(604px) {
  .Menu {
    flex-flow: column nowrap;

    &-Item {
      margin-right: 0;
      width: 100%;
      text-align: center;

      &:after {
        display: block;
      }
    }
    &-Link {
      display: block;
      font-size: 1.1rem;
    }
  }
}

@include mq-max(500px) {
  .Menu {
    &-Link {
      padding: 15px 15px;
    }
  }
}

@include mq-max(300px) {
  .Menu {
    &-Link {
      font-size: 1rem;
    }
  }
}
