.Menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &-Item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-Link {
    display: inline-block;
    padding: 20px 15px;
    font-size: 1.2rem;
    color: #222;
    transition: color 0.2s ease-out;

    &:hover {
      color: #ffa41b;
    }
  }
}

/* .MobileMenu {
  &-Button {
    display: none;
    cursor: pointer;
    text-align: right;
    & > svg {
      width: 26px;
      pointer-events: none;
    }
  }
} */

@include mq-max(767px) {
  .Menu {
    &-Link {
      font-size: 1rem;
    }
  }
}

@include mq-max(633px) {
  .Menu {
    &-Link {
      padding: 20px 10px;
    }
  }
}

@include mq-max(604px) {
  .Menu {
    flex-flow: column nowrap;

    &-Item {
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
    &-Link {
      display: block;
      font-size: 1.1rem;
    }
  }
}

@include mq-max(500px) {
  .Menu {
    &-Link {
      padding: 15px 15px;
    }
  }
}

@include mq-max(300px) {
  .Menu {
    &-Link {
      font-size: 1rem;
    }
  }
}
