.MobileMenu {
  display: none;

  &-Button {
    @extend %fa-icon;
    @extend .fas;
    font-size: 2.4rem;
    color: $primary-text;

    &:before {
      content: fa-content($fa-var-bars);
    }
  }
}

@include mq-max(900px) {
  .MobileMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 15px;
    padding-left: 15px;

    &-Button {
      position: relative;
      /* display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); */
      cursor: pointer;
    }
  }
}

@include mq-max(500px) {
  .MobileMenu {
    padding-right: 0;
    padding-left: 0;
  }
}
