.ModalDocs {
  position: absolute;
  max-width: 1200px;
  /* width: 400px; */
  width: 1000px;
  padding: 30px;
  background-color: $secondary-bg;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 90vh;

  &-Outer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($accent-1, 0.3);
    z-index: 160;
    opacity: 0;
    transition: opacity 0.8s ease;

    &_Show {
      display: block;
      opacity: 1;
    }
  }

  &-Message {
    margin-bottom: 30px;
    text-align: center;
  }

  &-Title {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
}

@include mq-max(430px) {
  .ModalDocs {
    width: 80%;
  }
}

@include mq-max(300px) {
  .ModalDocs {
    width: 90%;
  }
}
