.Socials {
  &-Item {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 5px;
    max-width: 240px;
    padding: 7px 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_Viber {
      color: #fff;
      fill: #fff;
      background-color: #574e92;
    }

    &_WhatsApp {
      color: #fff;
      fill: #fff;
      background-color: #009688;
    }
  }

  &-Icon {
    pointer-events: none;
    margin-right: 10px;
    & > svg {
      width: 26px;
    }
  }
}

@include mq-max(900px) {
  .Socials {
    &-Item {
      padding: 5px 10px;
    }

    &-Icon {
      & > svg {
        width: 22px;
      }
    }
  }
}

@include mq-max(767px) {
  .Socials {
    &-Item {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include mq-max(300px) {
  .Socials {
    &-Item {
      padding: 5px 7px;
    }
  }
}
