section#Advantages.Advantages-Outer.Section.Container
  h2.Section-Title Наши преимущества
  div.Advantages.Block
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/fastConnect.png", alt="")
      p.Advantages-Text Подключаем за несколько минут
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/lowPercent.png", alt="")
      p.Advantages-Text Самая низкая комиссия парка 3%
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/lowCost.png", alt="")
      p.Advantages-Text Самая низкая стоимость смены
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/respect.png", alt="")
      p.Advantages-Text Всегда с уважением относимся к водителям и оказываем помощь
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/app.png", alt="")
      p.Advantages-Text Простое и удобное приложение для вывода денег 24/7
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/sendMoney.png", alt="")
      p.Advantages-Text Выплаты денег возможны всегда, и в выходные, и в праздничные дни
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/grafik.png", alt="")
      p.Advantages-Text Свободный график работы
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/regularFlow.png", alt="")
      p.Advantages-Text В нашем таксопарке постоянный поток заказов Яндекс и Uber в одном приложении