section.Advantages-Outer.Section.Container
  h2.Section-Title Наши преимущества
  div.Advantages.Block
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Second Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem ipsum dolor sit.
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Third Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem, ipsum.
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Forth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem ipsum dolor sit amet consectetur adipisicing.
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem ipsum dolor sit amet consectetur adipisicing.
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Second Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Third Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem, ipsum.
    div.Advantages-Item.ColLg6
      img.Advantages-Icon(src="./images/transports.png", alt="")
      p.Advantages-Text Forth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
        | Lorem ipsum dolor sit.