section.Advantages-Outer.Section.Container
  h2.Section-Title Наши преимущества
  div.Advantages.Block
    p.Advantages-Item.ColLg6 First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Second Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Third Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Forth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Second Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Third Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?
    p.Advantages-Item.ColLg6 Forth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, earum?