section#Callback.Callback-Outer.Section.Container_Wide
  //h2.Section-Title Обратный звонок
  //img.BgImg(src="./images/taxi-238478_1920s.jpg", alt="")
  picture.BgImg
    source(srcset="./images/street.webp" type="image/webp")
    img(src="./images/street.jpg", alt="")
  .Container
    //p.Section-BigText.Section-Text_White Подключайся и зарабатывай прямо сейчас!
    .Callback
      h2.Section-BigText Подключайся и зарабатывай прямо сейчас!
      form.Callback-Form(action="#")
        .Input-Outer
          label(for="cbFio").Input-Label ФИО
            span.Input-Required *
            input.Input#cbFio(type="text" name="cbFio" placeholder="ФИО" required)
        .Input-Outer
          label(for="cbPhone").Input-Label Телефон
            span.Input-Required *
            input.Input#cbPhone(type="text" name="cbPhone" placeholder="Телефон" required)
        .Input-Outer
          label(for="cbCity").Input-Label Город
            span.Input-Required *
            input.Input#cbCity(type="text" name="cbCity" placeholder="Город" required)
        .Input-Outer
          input.InputCheckbox.PolicyAccept(type="checkbox" name="cbConfidentPolicy" id="cbConfidentPolicy" required)
          label.InputCheckbox-Label.InputCheckbox-Label_AlignTop.InputCheckbox-Label_Small(for="cbConfidentPolicy")
            span Согласен с&nbsp;
              a.InputCheckbox-Link(href="") политикой обработки персональных данных
        button.Button.Button_Center.Button-Submit Заказать обратный звонок