section#Callback.Callback-Outer.Section.Section_WithoutTitle.Container
  //h2.Section-Title Обратный звонок
  .Callback
    form.Callback-Form(action="#")
      .Input-Outer
        label(for="cbFio").Input-Label ФИО
          span.Input-Required *
          input.Input#cbFio(type="text" name="cbFio" placeholder="ФИО")
      .Input-Outer
        label(for="cbPhone").Input-Label Телефон
          span.Input-Required *
          input.Input#cbPhone(type="text" name="cbPhone" placeholder="Телефон")
      .Input-Outer
        label(for="cbCity").Input-Label Город
          span.Input-Required *
          input.Input#cbCity(type="text" name="cbCity" placeholder="Город")
      .Input-Outer
        input.InputCheckbox(type="checkbox" name="cbConfidentPolicy" id="cbConfidentPolicy")
        label(for="cbConfidentPolicy") Соглашение
      button.Button.Button_Send Заказать обратный звонок