section#EarnNow.EarnNow-Outer.Section.Container_Wide
  picture.BgImg
    source(media="(max-width: 320px)" srcset="./images/taxi_320.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 321px) and (max-width: 480px)" srcset="./images/taxi_480.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 481px) and (max-width: 640px)" srcset="./images/taxi_640.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 641px) and (max-width: 800px)" srcset="./images/taxi_800.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 641px) and (max-width: 800px)" srcset="./images/taxi_800.jpg" type="image/jpeg" loading="lazy")
    source(media="(min-width: 801px) and (max-width: 1024px)" srcset="./images/taxi_1024.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 1025px) and (max-width: 1920px)" srcset="./images/taxi_1920.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 1025px) and (max-width: 1920px)" srcset="./images/taxi_1920.jpg" type="image/jpeg" loading="lazy")
    source(media="(min-width: 1921px)" srcset="./images/taxi_2560.webp" type="image/webp" loading="lazy")
    source(media="(min-width: 1921px)" srcset="./images/taxi_2560.jpg" type="image/jpeg" loading="lazy")
    img(src="./images/taxi_1920.jpg", alt="Хочу начать зарабатывать сейчас" loading="lazy")
  .Container
    .EarnNow
      h2.Section-BigText Начни зарабатывать прямо сейчас!
      form(action="#").EarnNow-Form
        h3.EarnNow-Title.Text_Center Персональная информация
        div.EarnNow-Personal
          .Input-Outer
            label(for="enFio").Input-Label ФИО
              span.Input-Required *
              input.Input#enFio(type="text" name="enFio" placeholder="ФИО" required)
          .Input-Outer
            label(for="enPhone").Input-Label Телефон
              span.Input-Required *
              input.Input#enPhone(type="text" name="enPhone" placeholder="Телефон" required)
          .Input-Outer
            label(for="enCity").Input-Label Город
              span.Input-Required *
              input.Input#enCity(type="text" name="enCity" placeholder="Город" required)
          .Input-Outer
            input.InputCheckbox(type="checkbox" name="brandAuto" id="brandAuto")
            label.InputCheckbox-Label.InputCheckbox-Label_ForItem.InputCheckbox-Label_AlignCenter(for="brandAuto") Брендированный автомобиль

        h3.EarnNow-Title.Text_Center СТС
        div.EarnNow-Docs
          .Input-Outer
            p.EarnNow-Item Лицевая сторона
              span.Input-Required *
            input.InputFile(type="file" name="stsFront" id="stsFront" accept="image/*" required)
            label.InputFile-Label(for="stsFront") Загрузить фото
          .Input-Outer
            p.EarnNow-Item Обратная сторона
              span.Input-Required *
            input.InputFile(type="file" name="stsBack" id="stsBack" accept="image/*" required)
            label.InputFile-Label(for="stsBack") Загрузить фото
        h3.EarnNow-Title.Text_Center Водительское удостоверение
        div.EarnNow-Docs
          .Input-Outer
            p.EarnNow-Item Лицевая сторона
              span.Input-Required *
            input.InputFile(type="file" name="vodFront" id="vodFront" accept="image/*" required)
            label.InputFile-Label(for="vodFront") Загрузить фото
          .Input-Outer
            p.EarnNow-Item Обратная сторона
              span.Input-Required *
            input.InputFile(type="file" name="vodBack" id="vodBack" accept="image/*" required)
            label.InputFile-Label(for="vodBack") Загрузить фото

        h3.EarnNow-Title.Text_Center Паспорт
        div.EarnNow-Docs
          .Input-Outer
            p.EarnNow-Item Фото паспорта (страница с фотографией)
              span.Input-Required *
            input.InputFile(type="file" name="passport" id="passport" accept="image/*" required)
            label.InputFile-Label(for="passport") Загрузить фото
          .Input-Outer
            p.EarnNow-Item Ваше фото с паспортом (селфи с паспортом в руках)
              span.Input-Required *
            input.InputFile(type="file" name="passportSelfie" id="passportSelfie" accept="image/*" required)
            label.InputFile-Label(for="passportSelfie") Загрузить фото
          .Input-Outer
            p.EarnNow-Item Фото прописки
              span.Input-Required *
            input.InputFile(type="file" name="addressReg" id="addressReg" accept="image/*" required)
            label.InputFile-Label(for="addressReg") Загрузить фото

        .EarnNow-Policy
          input.InputCheckbox.PolicyAccept(type="checkbox" name="oferta" id="oferta" required)
          label.InputCheckbox-Label.InputCheckbox-Label_AlignTop.InputCheckbox-Label_Small(for="oferta")
            span Принимаю условия&nbsp;
              a.InputCheckbox-Link.Oferta-Link(href="#") договора оферты
              | &nbsp;и&nbsp;
              a.InputCheckbox-Link.Policy-Link(href="#") политики обработки персональных данных
        button.Button.Button_Center.Button-Submit Зарабатывать сейчас