section#EarnNow.EarnNow-Outer.Section.Container
  h2.Section-Title Начни зарабатывать прямо сейчас
  .EarnNow
  form(action="#").EarnNow-Form
    .Input-Outer
      label(for="enFio").Input-Label ФИО
        span.Input-Required *
        input.Input#enFio(type="text" name="enFio" placeholder="ФИО")
    .Input-Outer
      label(for="enPhone").Input-Label Телефон
        span.Input-Required *
        input.Input#enPhone(type="text" name="enPhone" placeholder="Телефон")
    .Input-Outer
      label(for="enCity").Input-Label Город
        span.Input-Required *
        input.Input#enCity(type="text" name="enCity" placeholder="Город")
    .Input-Outer
      input.InputCheckbox(type="checkbox" name="brandAuto" id="brandAuto")
      label(for="brandAuto") Брендированный автомобиль
    div
      h3 Документы
      .Input-Outer
        p СТС обратная сторона
          span.Input-Required *
        input.InputFile(type="file" name="stsBack" id="stsBack")
        label.InputFile-Label(for="stsBack") Выберите файл
      .Input-Outer
        p лицевая сторона Водительского Удостоверения
          span.Input-Required *
        input.InputFile(type="file" name="vodFront" id="vodFront")
        label.InputFile-Label(for="vodFront") Выберите файл
      .Input-Outer
        p обратная сторона Водительского Удостоверения
          span.Input-Required *
        input.InputFile(type="file" name="vodBack" id="vodBack")
        label.InputFile-Label(for="vodBack") Выберите файл
      .Input-Outer
        p фото паспорта
          span.Input-Required *
        input.InputFile(type="file" name="passport" id="passport")
        label.InputFile-Label(for="passport") Выберите файл
      .Input-Outer
        p ваше фото с паспортом
          span.Input-Required *
        input.InputFile(type="file" name="passportSelfie" id="passportSelfie")
        label.InputFile-Label(for="passportSelfie") Выберите файл
      .Input-Outer
        p Фото прописки
          span.Input-Required *
        input.InputFile(type="file" name="addressReg" id="addressReg")
        label.InputFile-Label(for="addressReg") Выберите файл
    .Input-Outer
      input.InputCheckbox(type="checkbox" name="oferta" id="oferta")
      label(for="oferta") Аферта и соглашение
  button.Button.Button_Send Зарабатывать сейчас