footer.Footer-Outer.Container_Wide
  .Footer.Container
    .Block
      .FooterSection.ColLg6
        h3.FooterSection-Title Информация
        ul
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Политика конфиденциальности
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Договор аферта
      .FooterSection.ColLg6
        h3.FooterSection-Title Контакты
        p +7 (900) 524-81-11
        p +7 (961) 565-43-90
        p написать в viber
        p написать в whatsup

    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2020, ООО «РУЛЕВОЙ»
