footer.Footer-Outer.Container_Wide
  .Footer.Container
    .Block.No-Gutters
      .FooterSection.ColLg8
        h3.FooterSection-Title Информация
        ul
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Политика конфиденциальности
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Договор аферта
      .FooterSection.ColLg4
        h3.FooterSection-Title Контакты
        p.FooterSection-Item 8-900-524-81-11
        p.FooterSection-Item 8-961-565-43-90
        p.FooterSection-Item rulevoy-taxi@yandex.ru

    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2020, ООО «РУЛЕВОЙ»