footer.Footer-Outer.Container_Wide
  .Footer.Container
    .Block
      .Footer-Information.ColLg6
        h3 Информация
        p политика конфиденциальноси
        p Договор аферта
      .Footer-Contacts.ColLg6
        h3 Контакты
        p +7 (900) 524-81-11
        p +7 (961) 565-43-90
        p написать в viber
        p написать в whatsup

    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2020, ООО «РУЛЕВОЙ»
