header.Header-Outer.Container
  .Header.Block.No-Gutters
    .Logo.Col12.ColMd4.ColLg4
      a(href="/")
        img.Logo-Img(src="/images/logo.svg", alt="Рулевой логотип")
      div.Logo-Partner
        p.Logo-PartnerText официальный партнер
        p.Logo-PartnerName
          span.Logo-PartnerIcon Я
          |ндекс Такси
    .Contacts.Col12.ColMd4.ColLg4
      p.Contacts-Phone
        a.Contacts-Link(href="tel:+78332754026" target="_blank" rel="noopener") 8(8332) 75-46-20
      p.Contacts-Phone
        a.Contacts-Link(href="tel:+79005248111" target="_blank" rel="noopener") 8-900-524-81-11
      p.Contacts-Email
        a.Contacts-Link(href="mailto:rulevoy-taxi@yandex.ru") rulevoy-taxi@yandex.ru
    .Socials.Col12.ColMd4.ColLg4
      a(href="viber://add?number=79229374026" target="_blank" rel="noopener").Socials-Item.Socials-Item_Viber
        span.Socials-Icon
          include ../../images/viber.svg
        span Написать в Viber
      a(href="https://wa.me/79229374026" target="_blank" rel="noopener").Socials-Item.Socials-Item_WhatsApp
        span.Socials-Icon
          include ../../images/whatsapp.svg
        span Написать в WhatsApp
