header.Header-Outer.Container
  .Header.Block.No-Gutters
    .Logo.Col12.ColLg6
      a(href="/")
        img.Logo-Img(src="/images/logo.svg", alt="Рулевой")
    .Contacts.Col12.ColLg6
      p.Contacts-Phone +7 (900) 524-81-11
      p.Contacts-Phone +7 (961) 565-43-90
      p.Contacts-Socials
        span.Contacts-Icon
          include ../../images/whatsapp.svg
        span написать в viber
      p.Contacts-Socials написать в whatsup
