header.Header-Outer.Container
  .Header.Block.No-Gutters
    .Logo.Col12.ColLg4
      a(href="/")
        img.Logo-Img(src="/images/logo.svg", alt="Рулевой")
    .Contacts.Col12.ColLg4
      p.Contacts-Phone 8-900-524-81-11
      p.Contacts-Phone 8-961-565-43-90
      p.Contacts-Email rulevoy-taxi@yandex.ru
    .Socials.Col12.ColLg4
      a(href="#").Socials-Item.Socials-Item_Viber
        span.Socials-Icon
          include ../../images/viber.svg
        span Написать в Viber
      a(href="#").Socials-Item.Socials-Item_WhatsApp
        span.Socials-Icon
          include ../../images/whatsapp.svg
        span Написать в WhatsApp
