header.Header-Outer.Container
  .Header.Block.No-Gutters
    .Logo.Col12.ColLg6
      a(href="/")
        img.Logo-Img(src="/images/logo.svg", alt="Рулевой")
    .Contacts.Col12.ColLg6
      p.Contacts-Phone 8-900-524-81-11
      p.Contacts-Phone 8-961-565-43-90
      p.Contacts-Socials.Contacts-Socials_Viber
        span.Contacts-Icon
          include ../../images/viber.svg
        span Написать в Viber
      p.Contacts-Socials.Contacts-Socials_WhatsApp
        span.Contacts-Icon
          include ../../images/whatsapp.svg
        span Написать в WhatsApp
