nav.Menu-Outer.Container
  ul.Menu
    li.Menu-Item
      a.Menu-Link(href="#Actual" data-to-block-id="Actual") Обратный звонок
    li.Menu-Item
      a.Menu-Link(href="#Advantages" data-to-block-id="Advantages") Наши преимущества
    li.Menu-Item
      a.Menu-Link(href="#EarnNow" data-to-block-id="EarnNow") Зарабатывать сейчас