nav.Menu-Outer.Container_Wide
  ul.Menu
    li.Menu-Item
      a.Menu-Link(href="https://taxirul.ru#Callback" data-to-block-id="Callback") Обратный звонок
    li.Menu-Item
      a.Menu-Link(href="https://taxirul.ru#Advantages" data-to-block-id="Advantages") Наши преимущества
    li.Menu-Item
      a.Menu-Link(href="https://taxirul.ru#EarnNow" data-to-block-id="EarnNow") Зарабатывать сейчас