.ConfPolicy-Outer.Section.Container
  h2.Section-Title Политика компании по защите персональных данных пользователей
  .ConfPolicy
    p 1. Настоящая Политика конфиденциальности содержит перечень персональной информации, не подлежащей разглашению, а также условия обработки персональных данных Пользователей сайта https://taxirul.ru/.
    p 2. Использование сайта возможно только при условии безоговорочного согласия Пользователя с положениями Политики конфиденциальности.
    p 3. В случае если Пользователь не согласен с каким-либо условием Политики конфиденциальности, либо условия ему не понятны, он обязан отказаться от использования сайта.
    p 4. В случае передачи Администрации сайта персональных данных Пользователь обязан предоставить достоверную информацию о своих персональных данных и дать согласие на их обработку. Согласие на обработку персональных данных дается без каких-либо специальных оговорок.
    p 5. Согласие на обработку персональных данных включает в себя согласие на обработку данных о ФИО, паспортных данных, адресных данных, номере телефона, а также любых иных переданных Администрации сайта персональных данных.
    p 6. При обработке персональных данных Администрация сайта обязуется придерживаться следующих основных принципов:
    p.ConfPolicy-SubString 6.1. Обработка персональных данных должна осуществляться на законной и справедливой основе.
    p.ConfPolicy-SubString 6.2. Обработка персональных данных осуществляется в полном соответствии с Федеральным законом Российской Федерации от 27.07.2006 г. N 152-ФЗ «О персональных данных».
    p.ConfPolicy-SubString 6.3. Обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
    p.ConfPolicy-SubString 6.4. Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
    p.ConfPolicy-SubString 6.5. Обработке подлежат только персональные данные, которые отвечают целям их обработки.
    p.ConfPolicy-SubString 6.7. Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.
    p.ConfPolicy-SubString 6.8. При обработке персональных данных должны быть обеспечены точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Администрация должна принимать необходимые меры либо обеспечивать их принятие по удалению или уточнению неполных или неточных данных;
    p.ConfPolicy-SubString 6.9. Хранение персональных данных должно осуществляться в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных.
    p 7. Обработка персональных данных Пользователя осуществляется исключительно с целью идентификации Пользователя и поддержания обратной связи между ним и Администрацией сайта.
    p 8. Администрация сайта гарантирует, что она не будет разглашать, либо передавать третьим лицам персональные данные Пользователя, за исключением случаев, прямо предусмотренных действующим законодательством.
    p 9. В соответствии с условиями Политики конфиденциальности не подлежат разглашению следующие данные:
    p.ConfPolicy-SubString 9.1. Персональные данные Пользователя, которые были сообщены в ходе процедуры регистрации.
    p.ConfPolicy-SubString 9.2. Персональные данные Пользователя, которые были сообщены им через форму обратной связи.
    p.ConfPolicy-SubString 9.3. Персональные данные Пользователя, которые были сообщены Администрации сайта при дальнейшем взаимодействии Сторон в любой форме.
    p.ConfPolicy-SubString 9.4. Данные об IP-адресе, информация из cookie, информация о времени доступа, адрес запрашиваемой страницы.
    p 10. Администрация сайта обязуется предпринимать все необходимые меры для защиты персональных данных Пользователя и не допускать действий, способных привести к разглашению персональных данных Пользователя.
    p 11. Администрация сайта вправе направлять Пользователю предложения коммерческого и рекламного характера.
    p 12. Пользователь вправе в любой момент сообщить Администрации сайта об изменении своих персональных данных.
    p 13. Администрация сайта оставляет за собой право в любой момент внести изменения в любой из пунктов Политики конфиденциальности, не допуская при этом включение в Политику положений, противоречащих действующему законодательству.

    h3.ConfPolicy-Title Наши реквизиты
    p Индивидуальный предприниматель ХХХ ХХХ ХХХ
    p Юридический адрес: ХХХ
    p Фактический адрес: ХХХ
    p ОГРН: ХХХ
    p ИНН: ХХХ
    p Наименование банка: ХХХ
    p Р/С: ХХХ
    p К/С: ХХХ
    p БИК: ХХХ
    p &nbsp;
    p Адрес электронной почты: taxirul@yandex.ru
    p Телефоны: 8-900-524-81-11, 8-961-565-43-90