<ifModule mod_expires.c>
 ExpiresActive On
 ExpiresByType image/x-icon "access plus 7 days"
 ExpiresByType image/jpeg "access plus 7 days"
 ExpiresByType image/png "access plus 7 days"
 ExpiresByType image/webp "access plus 7 days"
 ExpiresByType image/svg+xml "access plus 7 days"
</ifModule>